.root {
    flex-grow: 1;
}
.paper {
    margin: auto;
    max-width: 12rem;
    padding: 0.5rem;
}
.image {
    max-width: 20rem;
    display: flex;
    align-items: center;
}
.img {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
}
.titre{
    text-align: center;
}
.moreInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.5rem;
}